body {
  font: 14px/1.5 '微软雅黑', Arial, Helvetica, sans-serif;
  background: url("../img/header-app-image.jpg");
  /**************全局icon样式****************/
}
body span.fa-icon {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  font-size: 30px;
  color: #fff;
  background-color: #0094f2;
  border-radius: 50%;
}
body span.fa-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
body img {
  max-width: 100%;
}
/*************各部分标题和标题后的短线****************/
#feature,
#mobile-portal {
  padding: 70px 0;
}
#feature h2,
#mobile-portal h2 {
  text-align: center;
  font-size: 34px;
  letter-spacing: .1em;
}
#feature h2::after,
#mobile-portal h2::after {
  content: '';
  display: block;
  background-color: #0094f2;
  width: 80px;
  height: 3px;
  margin: 30px auto 0;
}
/************顶部导航栏***************/
#header {
  width: 100%;
}
#header #my-menu li {
  margin-right: 20px;
}
#header #my-menu li a {
  font-size: 16px;
  color: #fff;
}
#header #my-menu li a:hover {
  color: #0094f2;
}
/**************中部标语、效果图**************/
#main {
  width: 100%;
  box-sizing: border-box;
  padding-top: 80px;
}
#main #slogan {
  height: 484px;
  padding: 0 15px 50px 30px;
  box-sizing: border-box;
}
#main #slogan div.row h3 {
  display: inline-block;
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  letter-spacing: -0.03em;
  margin-top: 0;
}
#main #slogan div.row h3 span {
  margin-left: -8%;
  margin-bottom: 5px;
  transform: rotate(30deg);
}
#main #slogan div.row h3 strong {
  font-weight: 500;
}
#main #slogan p {
  margin: 15px 0;
  color: #fff;
}
#main #slide-img {
  text-align: center;
  padding-bottom: 30px;
}
@media screen and (max-width: 768px) {
  #slogan {
    text-align: center;
  }
}
/**********功能特色**********/
#feature {
  background-color: #fff;
  /************图标外的圆环*************/
}
#feature div.icon-wrap-circle {
  border-radius: 50%;
  border: 1px solid #0094f2;
  padding: 3px;
}
#feature .feature-col {
  padding-top: 50px;
}
#feature .feature-col .feature-item {
  margin-bottom: 70px;
}
#feature .feature-col .feature-item span.fa-icon:hover {
  color: #0094f2;
  background-color: #fff;
}
#feature .feature-col .feature-item p {
  color: #868686;
}
#feature #feature-left .feature-left-item div.icon-wrap-circle {
  margin-left: 15px;
  float: right;
}
#feature #feature-left .feature-left-item div.icon-wrap-circle span {
  float: right;
}
#feature #feature-left .feature-left-item .feature-left-text {
  text-align: right;
}
#feature #feature-center {
  text-align: center;
}
#feature #feature-center img {
  width: 294px;
}
#feature #feature-right .feature-right-item div.icon-wrap-circle {
  margin-right: 15px;
  float: left;
}
#feature #feature-right .feature-right-item div.icon-wrap-circle span {
  float: left;
}
#feature #feature-right .feature-right-item .feature-right-text {
  text-align: left;
}
@media screen and (max-width: 992px) {
  #feature .feature-col .feature-item {
    text-align: center !important;
  }
  #feature .feature-col .feature-item .feature-item-text {
    text-align: center !important;
  }
  #feature .feature-col .feature-item div.icon-wrap-circle {
    float: none !important;
    display: inline-block;
    margin: 0 !important;
  }
}
/**********IT Mobile Portal介绍**********/
#mobile-portal {
  background-color: #F6F8FA;
}
#mobile-portal p.sub-title {
  text-align: center;
  color: #868686;
  margin: 20px 0 60px;
}
#mobile-portal .mobile-portal-item .img-wrap {
  position: relative;
}
#mobile-portal .mobile-portal-item .img-wrap img {
  display: inline-block;
  border-radius: 50%;
  margin: 0;
}
#mobile-portal .mobile-portal-item .img-wrap span {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
}
#mobile-portal .mobile-portal-item .img-wrap span.android {
  background-color: #92b93a;
}
#mobile-portal .mobile-portal-item h3 {
  font-size: 18px;
  text-align: center;
}
#mobile-portal .mobile-portal-item p.item-title {
  color: #868686;
  text-align: center;
}
